@import url("https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700");
html {
  overflow-x: hidden;
}

body {
  background: rgb(243, 244, 243);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212121;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  font-size: 14px;
}

.main-page ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.main-page ul li, ol li {
  list-style: none;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  font-size: 36px;
  color: #212121;
  line-height: 52px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}

.section-padding {
  padding: 60px 0;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.navbar-brand img {
  width: 75%;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #212121 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #E91E63 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #E91E63 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navbar-expand-lg .navbar-nav li > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  width: 15px;
  height: 2px;
  background: #E91E63;
  -webkit-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}

.navbar-expand-lg .navbar-nav .active a:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #E91E63;
  outline: none;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #E91E63 !important;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #E91E63 !important;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
}

.hero-splash {
  background-image: url('../img/hero-image-2.jpg');
  max-height: 735px;
}

.counter-section {
  background: #E91E63;
  overflow: hidden;
  position: relative;
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 15px;
}

.counter-section .counter .icon i {
  font-size: 60px;
  color: #fff;
}

.counter-section .counter p {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.counter-section .counter span {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Schedule Area */
.schedule .schedule-tab-title {
  margin-bottom: 35px;
}

.schedule .schedule-tab-title .nav-tabs {
  background: #ffffff;
}

.schedule .schedule-tab-title .nav-tabs .nav-link {
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  height: 90px;
  width: 255px;
  border-bottom: 1px solid #e5e5e5;
  transition: all 500ms ease;
  padding: 20px 20px;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, .schedule .schedule-tab-title .nav-tabs .nav-link.active,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover {
  background: #E91E63;
  border: 1px solid #E91E63;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h4, .schedule .schedule-tab-title .nav-tabs .nav-link.active h4,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h4 {
  color: #fff;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h5, .schedule .schedule-tab-title .nav-tabs .nav-link.active h5,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h5 {
  color: #fff;
}

.schedule .schedule-tab-title .item-text h4 {
  font-size: 15px;
  color: #2f323c;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.schedule .schedule-tab-title .item-text h5 {
  font-size: 14px;
  color: #848484;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.schedule .schedule-tab-content .tab-content {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
}

.schedule .schedule-tab-content .card {
  border: none;
}

.schedule .show .card-body {
  background: #f3f4f3;
}

.schedule .card-header {
  border: none;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.schedule .card-header .images-box {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.schedule .card-header .images-box img {
  border-radius: 50%;
}

.schedule .card-header .time {
  color: #777777;
  font-size: 13px;
  margin-bottom: 5px;
}

.schedule .card-header h4 {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 8px;
}

.schedule .card-header .name {
  position: relative;
  font-size: 14px;
  color: #777777;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}

.schedule .card-body {
  padding: 15px 70px 15px 110px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.accordion .card {
  border-radius: 0px;
  margin-bottom: -2px;
}

.accordion .header-title {
  position: relative;
}

.accordion .header-title:after {
  font-family: "LineIcons";
  content: "\e93a";
  position: absolute;
  right: 10px;
  color: #999;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.accordion .collapsed:after {
  content: "\e940";
}

.accordion .card-header {
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.accordion .card-header i {
  color: #E91E63;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}

.accordion .card-body {
  padding-left: 56px;
}


/* Footer Area Start */
.footer-area {
  background: #222222;
}

.footer-area p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

/* Supporting Pages Start */
.title-area {
  background: #222222;
  height: 50vh;
}

/* CoC Area Start */
.coc .subsection {
  padding-bottom: 1em;
}

/* ==========================================================================
   Countdown Style Start
   ========================================================================== */
.countdown-timer .heading-count {
  padding: 10px 68px;
}

.countdown-timer .heading-count h2 {
  font-size: 40px;
  color: #212121;
  text-transform: uppercase;
  line-height: 48px;
}

.countdown-timer .heading-count h4 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin-top: 30px;
}

.countdown-timer .heading-count h4 span {
  background: #212121;
  padding: 7px 15px;
  border-radius: 4px;
}

.countdown-timer .heading-count p {
  font-size: 14px;
  color: #212121;
  line-height: 30px;
}

.time-count div {
  text-align: center;
}

.time-entry {
  display: inline-block;
  min-width: 120px;
  margin: 15px;
  height: 110px;
  padding: 20px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  text-align: center;
  font-weight: 400;
  color: #212121;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 22px;
}

.time-entry span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  display: block;
  color: #212121;
  margin-bottom: 10px;
}

.time-entry:first-child {
  border-left: none;
}

.time-countdown {
  margin: 15px 0px 50px 0;
}

/* ==========================================================================
   Speaker Style Start
   ========================================================================== */
.speaker .speaker-photo {
  background-color: #fff;
  border-radius: 50%;
}
.speaker .speaker-name {
  max-width: 100%;
  height: auto;
}
.talk .talk-padding {
  padding: 60px 0;
}

/* ==========================================================================
   Responsive Style Start
   ========================================================================== */

/* small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 10px;
  }
  .counter-section .counter p {
    font-size: 14px;
  }
  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 210px;
  }
}

/* tablets */
@media (max-width: 991px) {
  .page-title-section {
    padding: 40px 0;
  }
  .section-title {
    position: relative;
    margin-bottom: 10px;
  }
  .accordion .header-title {
    font-size: 12px;
  }
  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 150px;
  }
  .schedule .card-header h4 {
    font-size: 14px;
  }
  .footer-area h3 {
    margin-top: 30px;
  }
}

/* small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .countdown-timer .heading-count h2 {
    font-size: 25px;
  }
  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 150px;
  }
  .schedule .card-header h4 {
    font-size: 14px;
  }
  .accordion .header-title {
    font-size: 12px;
  }
  .footer-area h3 {
    margin-top: 30px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .section-title {
    font-size: 22px;
  }
  .section-subtitle {
    font-size: 18px;
  }
  .section-sub {
    font-size: 16px;
  }
  .countdown-timer .heading-count {
    padding: 10px;
  }
  .countdown-timer .heading-count h2 {
    font-size: 24px;
  }
  .countdown-timer .heading-count h4 {
    font-size: 12px;
  }
  .schedule .card-body {
    padding: 15px;
  }
  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 288px;
  }
  .accordion .header-title {
    font-size: 11px;
  }
  .footer-area h3 {
    margin-top: 30px;
  }
}